/* .HeadingLine{
    font-family: 'Rowdies', cursive;
} */


.HeadingLine{
    font-family: 'Festive', cursive;
    font-family: 'Rowdies', cursive;
}
.name{

    color: orange;
}

.half-width{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}

.half-width img{

    width: 70%;

}

